doctype html
html
  head
    title Socket.IO Chat
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css", type="text/css", rel="stylesheet")
    script.
      $(document).ready(function() {
        function initClient() {
          var socket = io();
          $('form').submit(function(){
            socket.emit('user-to-server-message', $('#m').val());
            $('#m').val('');
            return false;
          });
          socket.on('chat.message', function(msg){
            $('#messages').append($('<li>').text(msg.userId + ': ' + msg.msg));
          });
          socket.on('chat.status', function(msg){
            if (msg.status && msg.status === 'error') {
              toastr.error(msg.msg);
            }
          });
        }

        var userId = Math.round(Math.random()*100000000);      
        $.post('/login', {userId: userId}, function (data, textStatus, jqXHR) {
          console.log("user logged in from client side");
          initClient();
        });
      });
  body
    div #{JSON.stringify(options)}
    ul#messages
    form
      input#m(autocomplete="off")
      button Send
