doctype html
html
  head
    title Socket.IO Chat
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js")
    script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css", type="text/css", rel="stylesheet")
    link(href="https://code.jquery.com/ui/1.11.4/themes/humanity/jquery-ui.css", type="text/css", rel="stylesheet")
    script.
      MYAPP = {};
      $(document).ready(function() {
        function initClient() {
          var socket = io();
          $('form').submit(function(){
            socket.emit('user-to-server-message', $('#m').val());
            $('#m').val('');
            return false;
          });
          socket.on('chat.message', function(msg){
            $('#messages').append($('<li>').text(msg.userId + ': ' + msg.msg));
          });
          socket.on('chat.status', function(msg){
            if (msg.status && msg.status === 'error') {
              toastr.error(msg.msg);
            }
          });
        }

        $('#login-form-dialog').dialog({
            autoOpen: true,
            height: 300,
            width: 500,
            modal: true,
            buttons: [{
              text: "OK",
              click: function () {
                var username = $('input', this).val();
                var dialogThis = this;
                $.post('/login', {userId: username}, function (data, textStatus, jqXHR) {
                  MYAPP.userId = username;
                  initClient();
                  $(dialogThis).dialog('close');
                }).done(function() {
                  $('div.status', dialogThis).text();
                }).fail(function (jqXHR) {
                  $('div.status', dialogThis).text(jqXHR.responseText);
                });
              }
            }]
          });
      });
  body
    div #{JSON.stringify(options)}
    ul#messages
    form
      input#m(autocomplete="off")
      button Send
    #login-form-dialog(title="Login")
      label(for="username") Username:
      input(type="text", name="username")
      div.status
